.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__block {
  padding: 33px 0 40px 0;
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;

  &--with-image {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--with-border {
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__block--with-image .advantages__title {
  color: #ffffff;
}

.advantages__count {
  display: block;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
}
