.benefits {
  margin: 0;
  padding: 23px 20px 46px;
  list-style-type: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.benefits__item {
  position: relative;
  padding-left: 45px;
  padding-top: 9px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--houses::before {
    background-image: url("../img/svg/house-icon.svg");
  }

  &--food::before {
    background-image: url("../img/svg/food-icon.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/svg/gift-icon.svg");
  }

  @media (min-width: @tablet-width) {
    padding: 158px 40px 61px;
    margin: 0;
    text-align: center;

    &::before {
      top: 58px;
      left: 50%;
      transform: translateX(-50%);
      width: 81px;
      height: 75px;
      background-size: contain;
    }

    &--food {
      padding-top: 156px;
    }

    &--souvenirs {
      padding-top: 152px;
    }

    &--souvenirs::before {
      left: 51%;
      top: 62px;
      width: 81px;
      height: 76px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 169px 50px 69px;
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 22px;
  }
}

.benefits__description {
  margin: 0;
}

.benefits__line-break {
  @media (min-width: @tablet-width) {
    display: block;
  }
}
