.copyright {
  width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: right;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  .logo-htmlacademy {
    fill: #000000;
  }

  &:hover {
    color: #81b3d2;

    .logo-htmlacademy {
      fill: #81b3d2;
    }
  }

  &:active {
    color: #b3b3b3;

    .logo-htmlacademy {
      fill: #b3b3b3;
    }
  }

  @media (min-width: @tablet-width) {
    justify-content: end;

    &--main-page {
      padding-right: 16px;
    }
  }
}

.copyright__image {
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    margin-left: 12px;
  }
}
