.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    grid-column: 1 / -1;
    border-top: 1px solid #e5e5e5;
  }
}

.gallery__image {
  display: block;
  margin-bottom: 15px;
}

.gallery__title {
  margin: 0;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery__author {
  margin-bottom: 11px;
}

.gallery__likes {
  display: block;
  color: #000000;
  font-weight: 700;
  text-align: left;
}
