.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 0 20px;
  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    grid-column: 1 / -1;
    border-top: 1px solid #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;

    &:first-child {
      border: none;
    }
  }
}

.gallery__image {
  display: block;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.gallery__image-info {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
}

.gallery__title {
  margin: 0;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery__author {
  display: block;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.gallery__likes {
  position: relative;
  display: block;
  color: #000000;
  font-weight: 700;
  text-align: left;
  padding-left: 37px;

  &::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 23px;
    height: 21px;
    background-image: url("../img/icons/like-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
