.hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/hero-background.jpg");
  background-position: 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 90px 0 85px 0;
}
