.location__map {
  background-image: url("../img/icons/marker-icon.svg"), url("../img/map-mobile.png");
  background-position: 50%, 50%;
  background-size: 27px 27px, 100% 100%;
  background-repeat: no-repeat, no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/icons/marker-icon.svg"), url("../img/map-tablet.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/icons/marker-icon.svg"), url("../img/map-desktop.png");
  }
}
