.main-header {
  position: relative;
  background-color: #ffffff;
}

.main-header__logo {
  position: absolute;
  display: block;
  width: 185px;
  height: 96px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
